/* [equipImage.css] */

/* 장비 이미지 */
.equipment-image {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* 장비 이미지 - X 표시 : 가상 요소로 대각선 생성 */
.equipment-image::before, .equipment-image::after {
    content: "";
    position: absolute;
    background-color: #e1e1e1;
    width: 140%;
    height: 2px;
    left: -20%;
    top: 50%;
}

/* 첫번째 대각선(좌상단->우하단) 회전 */
.equipment-image::before {
    transform: translateY(-50%) rotate(45deg);
}

/* 두번째 대각선(우상단->좌하단) 회전 */
.equipment-image::after {
    transform: translateY(-50%) rotate(-45deg);
}
