html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin: 20px;
  padding: 30px 40px;
}

/*페이지 타이틀*/
.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}
/*--------------------------------------------------------------------------------*/

/*카테고리 관련 스타일*/
.category-title {
  font-size: 18px;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 100px;
}

/*카테고리 선택 박스*/
.category-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  height: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #333;
  background-color: #fff;
}

.category-item:hover {
  background-color: #f2e8cf;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/*카테고리 아이콘*/
.category-item i {
  font-size: 48px;
  margin-bottom: 15px;
  color: #555;
}

/*클릭시 효과*/
.category-item.active {
  background-color: #f2e8cf;
}

.category-item-text {
  font-size: 14px;
  text-align: center;
}
/*--------------------------------------------------------------------------------*/

/*하단 버튼 스타일*/
.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.nav-button {
  padding: 10px 40px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #333;
  display: inline-block;
}

.nav-button:hover {
  background-color: #94a187;
}
/*--------------------------------------------------------------------------------*/
/*큰 화면 (1600px ~ ) */
@media (min-width: 1600px) {
  .category-grid {
    gap: 30px; /* 더 넓은 화면에서는 간격 증가 */
  }
}

/* 중간 화면 (992px ~ 1599px) */
@media (min-width: 992px) and (max-width: 1599px) {
  .category-grid {
    gap: 20px; /* 중간 화면에서는 기본 간격 유지 */
  }
}

/* 작은 화면 (768px) */
@media (max-width: 768px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
