<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 1. DataSource 설정 (Oracle 데이터베이스 연결 정보) -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@211.238.142.179:1521:xe"/>
        <property name="username" value="final3team"/>
        <property name="password" value="greate"/>
    </bean>

    <!-- 2. MyBatis SqlSessionFactory 설정 - 모든 설정을 여기에 포함 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="typeAliasesPackage" value="com.team.mvc.DTO"/>
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="mapUnderscoreToCamelCase" value="true"/>
                <property name="cacheEnabled" value="true"/>
                <property name="lazyLoadingEnabled" value="false"/>
                <property name="aggressiveLazyLoading" value="true"/>
                <property name="multipleResultSetsEnabled" value="true"/>
                <property name="useColumnLabel" value="true"/>
                <property name="useGeneratedKeys" value="false"/>
                <property name="defaultExecutorType" value="SIMPLE"/>
                <property name="defaultStatementTimeout" value="25000"/>
                <property name="jdbcTypeForNull" value="VARCHAR"/>
            </bean>
        </property>
    </bean>

    <!-- 3. SqlSession 템플릿 설정 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- 4. DAO 인터페이스 스캔 설정 -->
    <mybatis:scan base-package="com.team.mvc.Interface"/>

    <!-- 5. DAO 이외의 스프링 Bean 컴포넌트 스캔 -->
    <context:component-scan base-package="com.team.mvc.Controller"/>
</beans>

